{
  "trailingComma": "none",
  "useTabs": true,
  "semi": false,
  "tabWidth": 4,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/types/(.*)$",
    "^@/services/(.*)$",
    "^@/assets/(.*)$",
    "^@/utils/(.*)$",
    "^@/config/(.*)$",
    "^@/providers/(.*)$",
    "^@/navigation/(.*)$",
    "^@/api/(.*)$",
    "^@/store/(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
